@media  screen and (max-width:320px) {
    /**FIXING THE NAV*/
    .navshar{
        /* display: flex; */
        flex-direction: column;
        margin: 0;
        padding: 0;
        background: #4b544c;
        text-transform: capitalize;
    }
    a{
        font-size: .9rem;
        margin: 0;
        padding: .2rem .7rem;
        border-bottom: 1px solid grey;
    }
    .link-container{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 0;
    }
    .show-nav{
        display: flex;
    }
    .reg-section{
        display: flex;
        flex-direction: column;
    }
    .reg-section span{
        display: none;
    }
}